__pycache__/
*.pyc
*.code-workspace
compiler-python/tools/
compiler-python/*.egg-info/
compiler-python/build/
**/export_cpp_test/*.o
**/export_cpp_test/test_generated_minimal
**/export_cpp_test/test_generated_empty
**/export_cpp_test/cross_tu_test
**/export_cpp_test/test_generated_scaleup
**/export_cpp_test/cross_tu_scaleup_test
**/export_cpp_test/test_generated_indexed
**/export_cpp_test/test_bsearch_large
**/export_cpp_test/test_bsearch_one
**/export_cpp_test/test_bsearch_two
**/export_cpp_test/test_bsearch_large_constexpr
**/export_cpp_test/test_generated_indexed_soa
**/export_cpp_test/test_split_aos
**/export_cpp_test/test_split_soa
**/export_cpp_test/test_generated_composition_nested_u16_fields
**/export_cpp_test/test_generated_composition_nested_u16_fields_single
**/export_cpp_test/test_generated_scaleup2
**/export_cpp_test/*.o
**/export_cpp_test/*.obj
**/export_cpp_test/*.exe
**/export_6502_test/*.bin
**/export_6502_test/*labels*.txt
**/export_6502_test/*.prg
**/export_6502_test/*.sym
**/export_6502_test/*.labels
**/export_6502_test/*.lst
**/export_68000_test/test_68000_minimal
**/export_68000_test/test_68000_aos_split
**/export_68000_test/test_68000_soa
**/export_68000_test/test_68000_composition_u16
**/export_68000_test/test_68000_subset_request_bug
**/export_68000_test/*.o
**/export_z80_test/*.bin
**/export_z80_test/*.sym
**/export_z80_test/*_out
**/export_z80_test/*.map
**/export_z80_test/*.o
